<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<main class="container-fluid">
  <div class="jumbotron text-white bg-secondary" style="margin-left:-20px;
 margin-right:-20px; margin-bottom: 0">
  <h2>WiFi Clients - <%= clients[0].ssid %> - <%= clients.length %> </h2>
  <table class="table table-responsive">
    <tr class="bg-dark text-white">
            <th>#</th><th>Name</th><th>Band-Channel</th><th>RSSI</th><th>Negotiated(Mbps)</th><th>IP Address</th><th>MAC</th>
    </tr>
    <% for (var i = 0; i < clients.length; i++) {
       if(clients[i].rssi < 35) {  %>
         
         <tr class="text-white" style="background-color: rgba(230, 50, 50, 0.2);">
      <% } else { %>
        <tr class="text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      <% }; %>
           <td><%= clients[i].sernum %></td><td><%= clients[i].name %>
           </td><td><%= clients[i].bandchan %></td><td><%= clients[i].rssi %></td><td><%= clients[i].linkspeed %></td>
           <td><%= clients[i].ip %></td><td><%= clients[i].mac %></td>
        </tr>

    <% }; %>
  </table>
</div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>